body{
    background-color: rgb(238, 134, 234);
 }

 audio{
  position: absolute;
  left: 93px;
  top: 660px;
 }

 audio::-webkit-media-controls-panel{
  background-color: rgb(255, 191, 201);
 }

 audio::-webkit-media-controls-play-button{
  background-color: azure;
  border-radius: 50px;
 }  

 audio::-webkit-media-controls-timeline{
  background-color: azure;
  border-radius: 50px;
 }

 audio::-webkit-media-controls-volume-slider{
  background-color: azure;
  border-radius: 50px;
 }

img {
    border-radius: 70px;
    border: 10px solid;
    border-color: rgb(255, 191, 201);
}